@model MyAssetAppASP.Models.User

@{
    ViewData["Title"] = "Success";
}

<h2>Login Success</h2>

<hr style="width:50% height:8px">

<p>
    <a asp-action="Create" style="font-size:1.3vw"> Login Success  </a>
</p>
