@{
    ViewData["Title"] = "Asset List1";
}

<div class="text-center" style="background-color: rgba(255, 128, 0, 0.253)">
    <h1 class="display-5" > <b> Document and Material Management System </b> </h1>
        <h2 class="display-2"> <b> DAIS </b> </h2>
<img  src="~/images/AssetPic2.jpg" alt="Assets Picture" width="1000" height="600">
</div>