@{
    ViewData["Title"] = "AdminActions";
}

<h2>Admin Actions </h2>

<p>  </p>
<hr style="width:50% height:8px">

<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create Equipment Type  </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create and View Vendor List </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create and View Service Providers List </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create and View Location Master  </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create and View Facility Master  </a>
</p>