@{
    ViewData["Title"] = "Maintenance";
}

<h2>Warranty Management</h2>

<hr style="width:50% height:8px">

<p>
    <a asp-action="Create" style="font-size:1.3vw"> Query Builder for Warranty /AMC /Life Cycle Stage  </a>
</p>
