@{
    ViewData["Title"] = "Onboard";
}

<h2> Equipment Onboarding </h2>
<p> </p>
<p> </p>
<hr style="width:50% height:8px">

<p>
    <a asp-action="Create" style="font-size:1.3vw"> Onboard Equipment using UI Form </a>
</p>
<p> </p>
<p> </p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Onboard Equipment using Excel </a>
</p>