@{
    ViewData["Title"] = "Reports";
}

<h2> Reports </h2>

<hr style="width:50% height:8px">

<p>
    <a asp-action="Create" style="font-size:1.3vw"> Query builder and Dashboard for Customized Report  </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Save Customized Report  </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Schedule Batch Report </a>
</p>